<div id="friend-lookup">
  <h3>Search for Friends</h3>
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_param, params[:search_param], 
                                          placeholder: 'first name, last name or email', 
                                          autofocus: true,
                                          class: 'form-control search-box input-xxlarge' %>

        <%= button_tag(type: :submit, class: 'btn btn-large btn-success') do %>
          <i class='icon icon-search'></i> Look up a friend
        <% end %>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  <% end %>
  <%if @users%>
    <% if @users.size > 0 %>
      <%= render 'common/spinner' %>
      <div id="friend-lookup-results" class="well results-block col-md-10">
        <table class="search-results-table col-md-12">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><strong>Name:</strong> <%= user.full_name %></td>
                <td><strong>Email:</strong> <%= user.email %></td>
                <td>
                  <strong>Profile:</strong> <%= link_to "View Profile", user_path(user), class: "btn btn-xs btn-success" %>
                  <% if current_user.not_friend_with?(user.id) %>
                    <%= link_to "Add as friend", add_friend_path(user: current_user, friend: user), class: "btn btn-xs btn-success", method: :post %>
                  <% else %>
                    <span class="label label-primary">You are friends.</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead col-md-12"> No people found </p>
    <% end %>
  <% end %>
  <div id="friend-lookup-errors"></div>
</div>