<div id="stock-lookup">
  <h3>Search for Stocks</h3>
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: 'Stock Ticker Symbol', autofocus: true,
                                                        class: 'form-control search-box input-xxlarge' %>

        <%= button_tag(type: :submit, class: 'btn btn-large btn-success') do %>
          <i class='icon icon-search'></i> Look up a stock
        <% end %>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  <% end %>

  <% if @stock %>
    <%= render 'common/spinner' %>
    <div id="stock-lookup-results" class="well results-block">
      <strong>Symbol:</strong> <%= @stock.ticker %>
      <strong>Name:</strong> <%= @stock.name %>
      <strong>Price:</strong> <%= @stock.price %>
      <% if current_user.can_add_stock?(@stock.ticker) %>
        <%= link_to "Add to my stock", user_stocks_path(user: current_user, stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ''), class: "btn btn-xs btn-success", method: :post %>
      <% else %>
        <span class="label label-default">
          Stock can't be added because you have already added
          <% if !current_user.under_stock_limit? %>
            10 stocks
          <% end %>
          <% if current_user.stock_already_added?(@stock.ticker) %>
            this stock
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div id="stock-lookup-errors"></div>
</div>