<%= form_for(@user_stock) do |f| %>
  <% if @user_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_stock.errors.count, "error") %> prohibited this user_stock from being saved:</h2>

      <ul>
      <% @user_stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.number_field :stock_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
