<h1>Listing user_stocks</h1>

<table>
  <tr>
    <th>User</th>
    <th>Stock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_stocks.each do |user_stock| %>
  <tr>
    <td><%= user_stock.user_id %></td>
    <td><%= user_stock.stock_id %></td>
    <td><%= link_to 'Show', user_stock %></td>
    <td><%= link_to 'Edit', edit_user_stock_path(user_stock) %></td>
    <td><%= link_to 'Destroy', user_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User stock', new_user_stock_path %>
