<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_stock.user_id %>
</p>

<p>
  <b>Stock:</b>
  <%= @user_stock.stock_id %>
</p>


<%= link_to 'Edit', edit_user_stock_path(@user_stock) %> |
<%= link_to 'Back', user_stocks_path %>
