<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">FinanceTracker</a>

      
      <% if current_user %>
        <div class="container nav-collapse">
          <ul class="nav navbar-nav col-md-6">
            <li><%= link_to "My Portfolio", my_portfolio_path  %></li>
            <li><%= link_to "My Profile", edit_registration_path(current_user) %></li>
            <li><%= link_to "My Friends", my_friends_path %></li>
          </ul>

          <ul class="nav navbar-right col-md-4">
            <li>
              <i class="icon icon-user"></i>
              <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
            </li>
            <li class="col-md-4 logout">
              <%= link_to("logout", destroy_user_session_path, class: "btn btn-xs btn-danger", 
                                    method: :delete) %>                  
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <% else %>
        <%= link_to("Log In", new_user_session_path, class: "btn btn-xs btn-success") %>
      <% end %>
    </div>
  </div>
</div>